
/* MAIN PAGE */

html {
	height: 100%;
	width: 100%;
	font-family: Oswald, serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	background: url('file:///C:/documents and settings/James/Desktop/Website/img/body_background.jpg') no-repeat center center fixed;
    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
	-webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
	-moz-background-size: cover; /* optional for Firefox 3.6 */ 
	o-background-size: cover; /* for Opera 9.5 */
	margin: 0; /* to remove the default white margin of body */
	padding: 0; /* to remove the default white margin of body */
	overflow: auto;
	text-align: center;
}

.wrapper {
	height: 100%;
	max-width: 960px;
	text-align: center;
	padding: 50px auto;
	margin: 0 auto;
}


.header {
	background: url('file:///C:/documents and settings/James/Desktop/Website/img/header/background.png');
	width: 100%;
}


#headerimg {
	max-height: 200px;
}

.shell {
	height: 80%;
	width: 100%;
	margin: auto auto;
	padding: 75px auto;
	margin: 75px auto;
}

.footer {
	height: 20%;
	width: 100%;
	background-color: black;
}

/* Main body divs */

.hidden {
	visibility: hidden;
}

.home {
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0px;
}

.box {
	background-color: red;
	height: 300px;
	width: 200px;
	margin: 0 auto;
	padding: 50px 0px;
}

.coroplast {
	background-color: blue;
}

.banner {
	background-color: green;
}

.pvc {
	background-color: yellow;
}


